@{
    var actionName = ((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Gilles &amp; Gaëlle</title>
        <link rel="stylesheet" href="/style/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/app.css">
    </head>
    <body>
        <div class="background">
    </div>
    <div class="container">
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Index</a></li>
                <li><a asp-controller="Home" asp-action="Info">Infos pratiques</a></li>
                <li>Galerie photo</li>
                <li>Liste de mariage</li>
                @if(User.Identity.IsAuthenticated)
                {
                <li><a asp-controller="Account" asp-action="Logout">Déconnexion</a></li>
                }
            </ul>
        </nav>
        <main class="@actionName">
            <div class="content">
                @RenderBody()
            </div>
        </main>
    </div>
    @RenderSection("scripts", required: false)
    </body>
</html>