<p>Nous avons le plaisir de vous informer que nous allons construire notre petit chez nous. La vie ayant bien fait les choses, nous ne manquons de rien... </p>

<p>Cependant, si vous souhaitez participer à notre beau projet, vous pouvez nous faire un versement au numéro de compte <b>BE61 7320 4930 1717</b></p>
<p>Déjà un grand merci à vous.</p>