@using Mariage.ViewModels
@using Mariage.Models
@model InvitationViewModel

@{
    var user = (MariageUser)ViewBag.User;
    ViewBag.Title = "Invitation";
}

@if (user.Participation != null)
{
    @if (user.Participation.IsInvitedToLunch)
    {
        <p>
            Nous vous donnons rendez-vous à 11h30 pour l'apéritif, suivi d'un dîner, à La Bergerie de Lives-sur-Meuse, <a href="https://www.google.be/maps/place/La+Bergerie+de+Lives-sur-Meuse/@@50.4754954,4.9639276,17z/data=!3m1!4b1!4m8!3m7!1s0x47c1a216a3d5cc41:0xe55a0769f024af25!5m2!4m1!1i2!8m2!3d50.4754954!4d4.9661163">Rue de Mosanville 100, 5101 Namur</a>.
        </p>
        <p>Vous êtes également convié au buffet du soir précédé d'un apéritif à 18h ainsi qu'à la soirée musicale.</p>
    }
    else
    {
        <p>Nous vous donnons rendez-vous à 18h pour l'apéritif, suivi d'un buffet et d'une soirée musicale,<br /> à La Bergerie de Lives-sur-Meuse, <a href="https://www.google.be/maps/place/La+Bergerie+de+Lives-sur-Meuse/@@50.4754954,4.9639276,17z/data=!3m1!4b1!4m8!3m7!1s0x47c1a216a3d5cc41:0xe55a0769f024af25!5m2!4m1!1i2!8m2!3d50.4754954!4d4.9661163">Rue de Mosanville 100, 5101 Namur</a>.</p>
    }
    <p>
        Nous attirons votre attention sur le fait que nous serons soumis aux règles actuellement en vigeur dans secteur de l'HORECA, c'est à dire désinfectant pour les mains, port du masque obligatoire à part assis à table, et limitation des contacts rapprochés (donc malheureusement pas de soirée dansante).
    </p>
    
    <div class="image"><img src="~/images/labergerie.jpg" alg="La Bergerie" /></div>
}
else
{
    <p>
        Nous n'avons pas encore traité votre inscription sur le site. On revient vers vous dès que possible!
    </p>
}

@section scripts {
    <script src="~/script/invite.js" asp-append-version="true">
    </script>
}